.PostsList {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.postCard {
    padding: 20px;
    width: 31%;
    border: 2px solid teal;
}

.postTitle {
    font: var(--font-l);
    margin-bottom: 15px;
}