.primary {
    font: var(--font-m);
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    opacity: 1;

    transition: all .3s linear;
}

.primary:hover {
    opacity: 0.5;
}

.red {
    font: var(--font-m);
    font-weight: 700;
    background-color: red;
    color: #fff;
    padding: 7px 20px;
    border-radius: 30px;
    opacity: 1;

    transition: all .3s linear;
}

.red:hover {
    opacity: 0.5;
}