.Navbar {
    border: 1px solid teal;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo {
    font: var(--font-l);
    font-weight: 700;
}

.links {
    font: var(--font-m);
    opacity: 1;
    cursor: pointer;

    transition: all .2s;
}

.links:hover {
    opacity: 0.6;
}